@model CompositeModel
@{
}
<h1>Add new reservation</h1>
<form asp-controller="Home" asp-action="Create" method="post" class="custom-form">
    <div class="mb-3">
        <label asp-for="reservation.Date"></label>
        <input class="form-control" asp-for="reservation.Date"/>
        <span class="text-danger" asp-validation-for="reservation.Date"></span>
    </div>

    <div class="mb-3">
        <label asp-for="reservation.Owner"></label>
        <input class="form-control" asp-for="reservation.Owner" />
        <span class="text-danger" asp-validation-for="reservation.Owner"></span>
    </div>

    <div class="mb-3">
        <label asp-for="reservation.City"></label>
        <input class="form-control" asp-for="reservation.City" />
        <span class="text-danger" asp-validation-for="reservation.City"></span>
    </div>

    <div class="mb-3">
        <label asp-for="reservation.Address"></label>
        <input class="form-control" asp-for="reservation.Address" />
        <span class="text-danger" asp-validation-for="reservation.Address"></span>
    </div>

    <div class="mb-3">
        <label asp-for="reservation.RoomId">Room</label>
        <select class="form-control" asp-for="reservation.RoomId" asp-items="Model.roomsSelectList"></select>
        <span class="text-danger" asp-validation-for="reservation.RoomId"></span>
    </div>

    <div class="mb-3">
        <label asp-for="reservation.NumberOfNights"></label>
        <input class="form-control" asp-for="reservation.NumberOfNights" />
        <span class="text-danger" asp-validation-for="reservation.NumberOfNights"></span>
    </div>

    <div class="my-btn">
        <button class="btn btn-secondary" type="submit">Create</button>
    </div>
</form>