@model Reservation
@{
}
<h1>dodawanie rezerwacji</h1>
<form asp-controller="Home" asp-action="Create" method="post">
    <div class="mb-3">
        <label asp-for="Date"></label>
        <input class="form-control" asp-for="Date" />
        <span class="text-danger" asp-validation-for="Date"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Owner"></label>
        <input class="form-control" asp-for="Owner" />
        <span class="text-danger" asp-validation-for="Owner"></span>
    </div>

    <div class="mb-3">
        <label asp-for="City"></label>
        <input class="form-control" asp-for="City" />
        <span class="text-danger" asp-validation-for="City"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Address"></label>
        <input class="form-control" asp-for="Address" />
        <span class="text-danger" asp-validation-for="Address"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Room"></label>
        <input class="form-control" asp-for="Room" />
        <span class="text-danger" asp-validation-for="Room"></span>
    </div>
    
    <div class="mb-3">
        <label asp-for="Price"></label>
        <input class="form-control" asp-for="Price" />
        <span class="text-danger" asp-validation-for="Price"></span>
    </div>

    <div class="mb-3">
        <label asp-for="NumberOfNights"></label>
        <input class="form-control" asp-for="NumberOfNights" />
        <span class="text-danger" asp-validation-for="NumberOfNights"></span>
    </div>

    <div class="mb-3">
        <button class="btn btn-primary" type="submit">Create</button>
    </div>
</form>
