@{
    ViewData["Title"] = "Home";
}

<h1>Welcome!</h1>
<div class="card">
    <div class="card-header">
        Now you can easily book your room :)
    </div>
    <div class="card-body">
        <h5 class="card-title">
            Use the button below to make a reservation.
        </h5>
        <a class="btn btn-secondary" style="width:auto"
           asp-controller="Home" asp-action="Create">
            New reservation
        </a>
    </div>
</div>
