@model List<Reservation>
@{
    ViewData["Title"] = "Home Page";
}

<h1>Lista rezerwacji</h1>
<div>
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>City</th>
                <th>Owner</th>
                <th>Room</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var reservation in Model)
            {
                <tr>
                    <td>@reservation.Date.ToShortDateString()</td>
                    <td>@reservation.City</td>
                    <td>@reservation.Owner</td>
                    <td>@reservation.Room</td>
                    <td><a class="btn btn-outline-info" asp-controller="Home" asp-action="Details" asp-route-id=@reservation.Id>Details</a>
                        <a class="btn btn-outline-primary" asp-controller="Home" asp-action="Update" asp-route-id=@reservation.Id>Edycja</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>