@model IEnumerable<IdentityUser>

@{
    ViewData["Title"] = "All Users";
}

<h1>All Users</h1>

@if (Model.Any())
{
    <div class="my-btn" style="text-align:left; margin-left:0" >
        <a asp-action="Register" asp-controller="Account"
   class="btn btn-secondary" style="width:auto">
        Add new user
    </a>
    </div>
    

    foreach (var user in Model)
    {
        <div class="card mb-3">
            <div class="card-header">
                User Id: @user.Id
            </div>
            <div class="card-body">
                <h5 class="card-title">@user.UserName</h5>
            </div>
            <div class="card-footer">
                <a class="btn btn-outline-primary" asp-controller="Account" asp-action="ChangePassword" asp-route-id=@user.Id>Edit</a>
                <a class="btn btn-outline-danger" asp-controller="Account" asp-action="DeleteUser" asp-route-id=@user.Id>Delete</a>
            </div>
        </div>
    }
}
else
{
    <div class="card">
        <div class="card-header">
            No users created yet.
        </div>
        <div class="card-body">
            <h5 class="card-title">
                Use the button below to create a user.
            </h5>
            <a class="btn btn-secondary" style="width:auto"
           asp-controller="Account" asp-action="Register">
                Add new user
            </a>
        </div>
    </div>
}
