@model Reservation
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Update a reservation</h1>
<form asp-controller="Home" asp-action="Update" method="post">
    <div class="mb-3">
        <label asp-for="Date">Date</label>
        <input class="form-control" asp-for="Date" />
        <span class="text-danger" asp-validation-for="Date"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Owner">Owner</label>
        <input class="form-control" asp-for="Owner" />
        <span class="text-danger" asp-validation-for="Owner"></span>
    </div>

    <div class="mb-3">
        <label asp-for="City">City</label>
        <input class="form-control" asp-for="City" />
        <span class="text-danger" asp-validation-for="City"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Address">Address</label>
        <input class="form-control" asp-for="Address" />
        <span class="text-danger" asp-validation-for="Address"></span>
    </div>

    <div class="mb-3">
        <label asp-for="RoomId">Room</label>
        <select class="form-control" asp-for="RoomId" asp-items="@ViewBag.Rooms"></select>
        <span class="text-danger" asp-validation-for="RoomId"></span>
    </div>
    
    <div class="mb-3">
        <label asp-for="Price">Cena</label>
        <input class="form-control" asp-for="Price" />
        <span class="text-danger" asp-validation-for="Price"></span>
    </div>

    <div class="mb-3">
        <label asp-for="NumberOfNights"></label>
        <input class="form-control" asp-for="NumberOfNights" />
        <span class="text-danger" asp-validation-for="NumberOfNights"></span>
    </div>

    <div class="my-btn">
        <button class="btn btn-secondary" type="submit">Save</button>
    </div>

</form>